* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1:#0A1F20;
    --cor2:#6A7F83;
    --cor3:#5E92A9;
    --cor4:#3b8bad;
}

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0;
}

header > h3 {
    color: white;
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
}

.container{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: 
        translate(-50%, -50%);
    padding: 20px;
    margin-top: 7%;
}

.container > h1 {
    text-align: center;
    margin: 20px 0 0 0;
}

hr {
    width: 100px;
    margin: 20px auto;
    background-color: red;
}

.container > p {
    text-align: center;
    margin: 25px 0;
}

.imagens {
    display: flex;
    justify-content: center;
}

.imagens > img {
    width: 50px;
    height: 50px;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.inputUser {
    border: 1px solid black;
    margin: 10px 0;
    outline: none;
    width: 100%;
}

.input-assunto {
    display: block;
}

.inputSobre {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid black;
    outline: none;
}

#mensagem {
    width: 100%;
    resize: none;
    border: 1px solid black;
    outline: none;
}

.botao {
    display: flex;
    justify-content: center;
}

.botao > button {
    margin: 10px 0 0 0;
    border: none;
    background-color: lightblue;
    padding: 6px 25px;
    border-radius: 6px;
    color: white;
}

.botao > button:hover {
    background-color: rgb(79, 135, 153);
    cursor: pointer;
}
