* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1:#17484b;
    --cor2:#6A7F83;
    --cor3:#5E92A9;
    --cor4:#3da3cf;
}

body {
    background-color: var(--cor3);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0;
}

header > h3 {
    color: rgba(255, 255, 255, 0.603);
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav > ul > li {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.137);
    cursor: pointer;
}

nav > ul > li > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.603);
    font-weight: bolder;
}

nav > ul > li > a:hover {
    color: rgba(255, 255, 255, 0.822);
}

main {
    display: grid;
    place-items: center;
}

.container{
    background-color: white;
    padding: 20px;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.384);
}

.titulo {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
}

.titulo > h1 {
    color: var(--cor1);
}

.titulo > .cor-h1 {
    color: var(--cor4);
}

hr {
    width: 100px;
    margin: 20px auto;
    border: 1.8px solid var(--cor3);
}

.container > p {
    text-align: center;
    margin: 25px 0;
}

.imagens {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.imagens > img {
    width: 45px;
    height: 45px;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.inputUser {
    border: 1px solid black;
    margin: 10px 0;
    outline: none;
    width: 100%;
    padding: 5px 0;
}

.input-assunto {
    display: block;
}

.inputSobre {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 5px 0;
}

#mensagem {
    width: 100%;
    resize: none;
    border: 1px solid black;
    outline: none;
}

.botao {
    display: flex;
    justify-content: center;
}

.botao > button {
    margin: 10px 0 0 0;
    border: none;
    background-color: var(--cor3);
    padding: 10px 25px;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}

.botao > button:hover {
    background-color: rgb(53, 101, 117);
    cursor: pointer;
}

footer {
    margin-top: 5%;
    height: 30vh;
    background: linear-gradient(135deg, #0A1F20 0%, #6A7F83 50%, #5E92A9 100%);
}

.rodape {
    display: flex;
    justify-content: center;
}

.rodape>label>img {
    padding-top: 40%;
}

footer>p {
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    margin-bottom: 0px;
    color: white;
}

#p-rodape {
    margin-top: 5px;
    margin-bottom: 0;
}

#eric {
    margin-top: 5px;
    color: #cfcccc;
}

.img-celular {
    display: none;
}

.img-tablet {
    display: none;
}

#icons8 {
    margin-top: 5px;
    color: #cfcccc;
}
