@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cor1:#0A1F20;
  --cor2:#6A7F83;
  --cor3:#5E92A9;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, sans-serif, system-ui;
  font-weight: normal;
}

main {
  margin: 0 10% 20px;
}

.container-header {
  margin: 0;
  background: linear-gradient(135deg, #0A1F20 0%, #6A7F83 50%, #5E92A9 100%);
}

header {
  margin: 0 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  color: rgba(255, 255, 255, 0.685);
}

.logo {
  margin-left: 40px;
  font-size: 20px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav > ul > li {
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

nav > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.164);
}

nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.685);
  font-weight: bolder;
}

nav ul li a:hover{
 color: white;
}

.container {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 10px;
  padding-bottom: 5%;
}

.principal {
  display: block;
}

.principal>h1 {
  margin-top: 5%;
  text-align: center;
  font-size: 40pt;
  color: white;
  font-family: "Cinzel", serif;
}

.principal>p {
  width: 550px;
  margin-top: 6%;
  text-align: justify;
  font-size: 11pt;
  color: white;
}

.container>img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
}

.historia {
  margin: 25px 0 20px;
}

.historia > h1 {
  text-align: left;
  margin-bottom: 30px;
  font-family: "Cinzel", serif;
  color: rgba(0, 0, 0, 0.815);
}

.historia > p {
  text-indent: 30px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.664);
}

.pilares-yoga {
  margin: 0 0px 0;
}

.pilares-yoga > h1 {
  margin: 3% 0 0;
  font-family: "Cinzel", serif;
  color: rgba(0, 0, 0, 0.815);
}

.pilares-yoga > h4 {
  margin-top: -10px;
  color: rgba(0, 0, 0, 0.815);
}

.ashtanga {
  display: flex;
  margin-bottom: 50px;
  gap: 40px;
  margin-top: -50px;
}

.ashtanga > ul {
  margin-top: 4%;
}

.ashtanga > ul > li {
  margin: 0 20px 20px;
  color: rgba(0, 0, 0, 0.664);
  list-style: disc;
}

.lista-pilares {
  color: rgba(0, 0, 0, 0.815);
}

.imagens-pilares > a > img {
  margin-top: 70px;
  width: 520px;
  height: 470px;
}

.imagens-pilares > a {
  text-decoration: underline;
  text-align: center;
  font-size: 13px;
  color: black;
}

.imagens-pilares > a > p {
  color: black;
}

.yoga-ocidente {
  margin-bottom: 20px;
}

.yoga-ocidente > h2{
  margin: 0 0 30px;
  font-family: "Cinzel", serif;
  color: rgba(0, 0, 0, 0.815);
}

.yoga-ocidente > p {
  text-indent: 30px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.664);
}

#tipoYoga {
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.815);
}

.tipos-yoga {
  display: flex;
  justify-content: center;
  gap: 25%;
  background-color: #5e93a950;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
}

.tipos-yoga > p {
  width: 600px;
  margin-top: 2%;
  text-align: justify;
  color: rgba(0, 0, 0, 0.664);
}

.tipos-yoga > img {
  width: 350px;
  height: auto;
}

#hatha, #vinyasa, #ashtanga, #kundalini, #iyengar, #restorative {
  margin-left: 39%;
  color: rgba(0, 0, 0, 0.815);
}

#yin {
  margin-left: 45%;
  color: rgba(0, 0, 0, 0.815);
}